@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
   font-family: 'Poppins', 'sans-serif';
}
.spinner {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%,#bfaff2);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 3.8px),#000 0);
    animation: spinner-zp9dbg 1s infinite linear;
 }
 
 @keyframes spinner-zp9dbg {
    to {
       transform: rotate(1turn);
    }
 }

 /* styles.css (or within your Tailwind CSS configuration) */
@keyframes cubeGridScaleDelay {
   0%, 70%, 100% {
     transform: scale3D(1, 1, 1);
   }
   35% {
     transform: scale3D(0, 0, 1);
   }
 }
 
 .loader-square-8 {
   width: 50px;
   height: 50px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1px;
 }
 
 .loader-square-8 > div {
   background-color: #000000;
   animation: cubeGridScaleDelay 1.3s infinite ease-in-out;
 }
 
 .loader-square-8 .cube1 {
   animation-delay: 0.2s;
 }
 
 .loader-square-8 .cube2 {
   animation-delay: 0.3s;
 }
 
 .loader-square-8 .cube3 {
   animation-delay: 0.4s;
 }
 
 .loader-square-8 .cube4 {
   animation-delay: 0.1s;
 }
 
 .loader-square-8 .cube5 {
   animation-delay: 0.2s;
 }
 
 .loader-square-8 .cube6 {
   animation-delay: 0.3s;
 }
 
 .loader-square-8 .cube7 {
   animation-delay: 0s;
 }
 
 .loader-square-8 .cube8 {
   animation-delay: 0.1s;
 }
 
 .loader-square-8 .cube9 {
   animation-delay: 0.2s;
 }
  
 @layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}
@tailwind utilities;